

<div class="span3 docs-sidebar">
  <ul data-spy="affix" data-offset-top="19" class="well nav nav-list docs-sidenav">
    <li class="active"><a href="#markdown-basics"><i class="icon-chevron-right"></i> Markdown basics</a></li>
    <li><a href="#add-a-page"><i class="icon-chevron-right"></i> Add a page</a></li>
    <li><a href="#remove-a-page"><i class="icon-chevron-right"></i> Remove a page</a></li>
    <li><a href="#change-title-and-path"><i class="icon-chevron-right"></i>Change title and path</a></li>
    <li><a href="#add-page-to-menu"><i class="icon-chevron-right"></i>Add page to menu</a></li>
    <li><a href="#remove-page-from-menu"><i class="icon-chevron-right"></i>Remove page from menu</a></li>
    
  </ul>
</div>

<div class="span9">


  <section id="markdown-basics">

    <div class="page-header">
      <h1>Markdown Basics</h1>
    </div>

    <p><em>Markdown</em> is a way to format your text to add <strong>bold</strong> and <em>italic</em> text, images, headings and a few other things, without having to use HTML. </p>

    <h2>Bold and italic text</h2>

    <p>To create <em>italic text</em>, surround one or a few words with stars:</p>

    <pre>This is how you create *italic text*.</pre>

    <p>To create <strong>bold text</strong>, surround one or a few words with double stars:</p>

    <pre>This is how you create **bold text**.</pre>

    <p>If you have to, you can make your text <strong><em>both bold and italic</em></strong>:</p>

    <pre>This is how you create ***bold and italic text***.</pre>

    <h2>A bullet list</h2>

    <p>Create bullet lists using stars:</p>

    <pre>* Item 1  
    * Item 2  
    * Item 3</pre>

    <p>Will look like this:</p>

    <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    </ul>

    <p>You can also use plus (+) or minus (-) instead of a star.</p>

    <h2>A numbered list</h2>

    <p>Create a numbered lists using number and dot:</p>

    <pre>1. Item 1  
    2. Item 2  
    3. Item 3</pre>

    <p>Will look like this:</p>

    <ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    </ol>


    <p>You can also use plus (+) or minus (-) instead of a star.</p>

    <h2>Creating links</h2>

    <p>Combine brackets and parenthesis to create links in the text. It's quite simple:</p>

    <pre>Here's [a great search engine](http://www.google.com). It'll float your boat.</pre>

    <p>Will look like this:</p>

    <blockquote>
      <p>Here's <a href="http://www.google.com">a great search engine</a>. It'll float your boat.</p>
    </blockquote>

    <h2>Headers</h2>

    <p>Markdown has support for different levels of headers using the hash sign (#):</p>

    <pre># This is the title
    Here's some very good boiler plate text. I don't even know what a boiler is, even less a plate.

    ## This is the subheader
    Subheaders are awesome. Even better than you think.

    ### This is the third level header.
    And so on.</pre>

    <p>Will look like this:</p>

    <blockquote>
      <h1>This is the title</h1>
  
      <p>Here's some very good boiler plate text. I don't even know what a boiler is, even less a plate.</p>
  
      <h2>This is the subheader</h2>
  
      <p>Subheaders are awesome. Even better than you think.</p>
  
      <h3>This is the third level header.</h3>
  
      <p>And so on.</p>
    </blockquote>

    <p>When converted to HTML, the first level header will be a <code class="prettyprint"><span class="tag">&lt;h1&gt;</span></code> element, a third level header will be a <code class="prettyprint"><span class="tag">&lt;h3&gt;</span></code>, etc. At SimpleEditions there's only one first level header per page, namely the title (in this case, it's "Markdown: An introduction", a bit further up). Therefore, you typically always begin with a second level header (## Like this) when you write your tutorial text.</p>

    <h2>Quotes</h2>

    <p>Add a greater-than sign (&gt;) in front of anything you are quoting, and the text will be moved slightly towards the middle.</p>

    <pre>&gt; "Never increase, beyond what is necessary,   
    &gt; the number of entities required to explain anything."  
    &gt; &ndash; *William Ockham*</pre>

    <p>Will look like this:</p>

    <blockquote>
      <p>"Never increase, beyond what is necessary, <br>
      the number of entities required to explain anything." <br>
      &ndash; <em>William Ockham</em></p>
    </blockquote>

    <p>Note how the name, William Ockham, is surrounded by stars to make it render in italic text.</p>

    <h2>Further reading</h2>

    <p>This tutorial only cover the basics of Markdown, but there are a few more tricks available.</p>

    <ul>
    <li><a href="http://en.wikipedia.org/wiki/Markdown">Markdown - Wikipedia</a></li>
    <li><a href="http://daringfireball.net/projects/markdown/">Official markdown documentation</a></li>
    <li><a href="http://markdown.pioul.fr/">Minimalist Online Markdown Editor</a> (<strong>very handy for testing</strong>)</li>
    </ul>
    
  <section>
    
    
  <section id="add-a-page">

    <div class="page-header">
      <h1>Add a page</h1>
    </div>
    
    <p class="lead">
      Steps for to add a page.
    </p>
    
    <section>
      <p>Go to the pages page by clicking on "Pages" in the top navigation</p>
      <%= image_tag "burp/adding-a-page-1.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Click the "New page" link</p>
      <%= image_tag "burp/adding-a-page-2.png", :class => "img-polaroid" %>
    </section>
  
    <section>
      <p>Enter the <strong>Title</strong> of the page and its <strong>Path</strong> and then click the "Save" button. The <strong>Path</strong> is the address to the page. <em>http://yourdomain.com/<strong>latest-news</strong></em></p>
      <%= image_tag "burp/adding-a-page-3.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>You can now find the new page in the pages list.</p>
      <%= image_tag "burp/adding-a-page-4.png", :class => "img-polaroid" %>
    </section>
    
  </section>
  
  <section id="remove-a-page">.
    
    <div class="page-header">
      <h1>Remove a page</h1>
    </div>
    
    <p class="lead">
      Steps for removing a page.
    </p>
    
    
    <section>
      <p>Go to the pages page by clicking on "Pages" in the top navigation</p>
      <%= image_tag "burp/remove-a-page-1.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Click on the page you wish to remove. In the example we click on "News"</p>
      <%= image_tag "burp/remove-a-page-2.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Click the "Remove" button.</p>
      <%= image_tag "burp/remove-a-page-3.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>You can see that the "News" page is no longer in the list.</p>
      <%= image_tag "burp/remove-a-page-4.png", :class => "img-polaroid" %>
    </section>
  </section>
  
  
  <section id="change-title-and-path">
    <div class="page-header">
      <h1>Change page title and path</h1>
    </div>
    
    <p class="lead">
      Steps for changing the title and path of a page.
    </p>
    
    <section>
      <p>Go to the pages page by clicking on "Pages" in the top navigation</p>
      <%= image_tag "burp/change-page-title-1.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Click on the page you wish to change. In the example we click on "News"</p>
      <%= image_tag "burp/change-page-title-2.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Enter the new title and path and click the "Save" button.</p>
      <%= image_tag "burp/change-page-title-3.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>You can see in the list that the page title and path has changed.</p>
      <%= image_tag "burp/change-page-title-4.png", :class => "img-polaroid" %>
    </section>
  </section>
  
  <section id="add-page-to-menu">
    <div class="page-header">
      <h1>Add page to menu</h1>
    </div>
    
    <p class="lead">
      Steps for adding a page to the menu.
    </p>
    
    <section>
      <p>Go to the "Menu" page.</p>
      <%= image_tag "burp/add-page-to-menu-1.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Drag the page you wish to add by pressing down the mouse button on the green "Drag" button and hold it down while you move the mouse up to where you wish to drop it</p>
      
      <ol class="image-list">
        <li>
          <%= image_tag "burp/add-page-to-menu-2.png", :class => "img-polaroid" %>
        </li>
        <li>
          <%= image_tag "burp/add-page-to-menu-3.png", :class => "img-polaroid" %>
        </li>
        <li>
          <%= image_tag "burp/add-page-to-menu-4.png", :class => "img-polaroid" %>
        </li>
        <li>
          <%= image_tag "burp/add-page-to-menu-5.png", :class => "img-polaroid" %>
        </li>
      </ol>
    </section>
    
  </section>
  
  <section id="remove-page-from-menu">
    <div class="page-header">
      <h1>Remove page from menu</h1>
    </div>
    
    <p class="lead">
      Steps for removing a page from the menu.
    </p>
    
    <section>
      <p>Go to the "Menu" page.</p>
      <%= image_tag "burp/remove-page-from-menu-1.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Click on the link/page you wish to remove.</p>
      <%= image_tag "burp/remove-page-from-menu-2.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Click on the "Remove" button.</p>
      <%= image_tag "burp/remove-page-from-menu-3.png", :class => "img-polaroid" %>
    </section>
    
    <section>
      <p>Now you can see that they page is no longer in the menu.</p>
      <%= image_tag "burp/remove-page-from-menu-4.png", :class => "img-polaroid" %>
    </section>
    
  </section>
  
</div>
