<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Burp, something that came up during lunch." %></title>
    <%= stylesheet_link_tag    "burp/application", :media => "all" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

  </head>
  <body class="<%= @body_classes %>">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/burp/">Burp</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Pages", "/burp/pages"  %></li>
              <li><%= link_to "Files", "/burp/files"  %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      
      <%= yield %>

      <hr>

      <footer>
        <p>&copy; Björn Blomqvist 2012</p>
      </footer>

    </div>
    
    <%= javascript_include_tag "burp/application" %>
    <script type="text/javascript" charset="utf-8">
      <%= raw yield :inline_javascript %>
    </script>
  </body>
</html>

