
<div class="well well-large on-page-documentation">
  <h2>Howto</h2>
  
  <h4>Change menu order</h4>
  <p>You can change the order of the menu by draging around the <strong style="color: green;">links</strong> and <strong style="color: orange;">groups</strong>.</p>

  <h4>Change link title</h4>
  <p>Click on any <strong style="color: green;">link</strong> to edit its title and url.</p>

  <h4>Change group title</h4>
  <p>Click on any <strong style="color: orange;">group</strong> to edit its title.</p>

  <h4>Remove a group or link</h4>
  <p>Click on any <strong style="color: orange;">group</strong> or <strong style="color: green;">link</strong> to edit it and then click the remove button.</p>

  <h4>Add a group or link</h4>
  <p>Click on "New link" or "New group" bellow the menu to add a new <strong style="color: green;">link</strong> or <strong style="color: orange;">group</strong>.</p>

  <h4>Quikly add a cms page</h4>
  <p>Drag and drop a <strong style="color: green;">link</strong> from the <strong>"Pages not in the above menu"</strong> list.<p>
  <p>NOTE! <strong>"Pages not in the above menu"</strong> is a generated list of pages, any <strong style="color: green;">links</strong> or <strong style="color: orange;">groups</strong> draged to it will be removed from the menu and lost when this page is reloaded.</p>
</div>

<h1><%= @menu.name.capitalize %></h1>
<hr>
<span class="dnd-editable-menu">
<%= @menu.to_html %>
</span>

<%= link_to "» New link", new_menu_link_path(@menu) %><br>
<%= link_to "» New group", new_menu_group_path(@menu) %>

<hr>
<h3>Pages not in the above menu</h3>
<span class="dnd-editable-menu">
<%= @pages_not_in_menu.to_html %>
</span>




<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  
  <% content_for :inline_javascript do %>
  
  $(function() {
    $('.dnd-editable-menu').on('click',"a, .group-name",function(event) {
      event.preventDefault();
      
      var target = $(event.target);
      
      if(target.is(".group-name")) {
        target = target.closest("section.group");
      }
      
      var id = $(target).attr('id');
      
      var path = $(target).is("a") ? "./links/"+id : "./groups/"+id;
      
      $.get(path+"/edit",function(data) {
        
        var the_form = $(data).find("form");
        the_form.attr("action",path);

        $("#my-pop-over").remove();
        $('.modal').clone().attr("id",'my-pop-over').appendTo("body");
        $("#my-pop-over .modal-body").append(the_form);
        
        $("#my-pop-over .modal-header h3").text(the_form.find(" > fieldset > legend").text());
        the_form.find(" > fieldset > legend").remove();
        
        the_form.find(".form-actions").hide();
        the_form.find(".form-actions button").each(function() {
          var _this = this;
          var new_button = $(this).clone().attr("onclick",'');
          new_button.appendTo("#my-pop-over .modal-footer");
          new_button.click(function() {
            if($(this).text() === "Cancel") {
              $("#my-pop-over").modal("hide");
            } else {
              $(_this).click();
            }
          });
        });
        
        $("#my-pop-over").modal('show').one('shown',function() {
          $(this).find('input').not("input[type=button],input[type=hidden],input[type=submit]").first().focus();
        });
      });
    });
  });
  
  <% end %>
    
</script>