
<%= form_for :page, :url => (params[:action] == "edit" ? "./update" : "./create"),:html => {:id => "edit-page-form"} do |f| %>

  <%= f.label :path %>
  <%= f.text_field :path %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :link_label %>
  <%= f.text_field :link_label %>
  
  <% @page.snippets.each_entry do |name,value| %>
  <div class="snippet">
    <%= f.label name %> <a class="remove-snippet-link" href="">Remove snippet</a>
    <%= f.text_area :snippet,:value => value, :name => "page[snippets][#{name}]" %>
  </div>
  <% end %>
  
  <%= f.submit %>
<% end %>

<label>Snippet name:</label>
<input id="snippet_name_input" name="snippet_name" >
<a id="add-snippet-link" href="">Add snippet</a>

